.sidebar{
    width: 160px;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    border-right: solid 1px #8080803b;
    background-image: url("../../../image/161002502_114667417348886_4262286945997779815_o.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    &__link{
        padding:0;
    }
}

.editNavItem{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding:0 15px;
    border-bottom: solid 1px #8080803b;
    height: 40px;
    & i{
        width:15px;
        font-size: 16px;
        color: #1da1f2;
    }
    & p {
        margin-bottom: 0;
        margin-left: 15px;
        font-size: 16px;
        font-family: Roboto, sans-serif;
    }
    &:hover{
        background-color: rgba(199, 198, 198, 0.479);
        & i{
            color: #1f1e1e94;
        }
        & p{
            color: #1f1e1e94;
        }
    }
}
.highlight{
    font-weight: bold;
    background-color: rgba(199, 198, 198, 0.479);
    color: #1f1e1e94;
    & i{
        color: #1f1e1e94;
    }

}
.nohightlight{
    background-color: #f8f9fa;
}